<div class="container">
    <div class="box">
        <div id="login">
            <img src="../../../assets/hacker.svg" alt="logo">
            <form style="margin-top: 40px;">
                <div class="input-container">
                    <input type="text" required="" />
                    <label>Nick</label>
                </div>
                <div class="input-container">
                    <input type="password" required="" />
                    <label>Senha</label>
                </div>
                <button type="button" class="btn">Entrar</button>
            </form>
        </div>
    </div>
</div>