.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 260px;
    height: 400px;
    text-align: center;
    padding: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: -8px 4px 40px rgba(110, 110, 110, 0.2);
    border-radius: 20px;
}

.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:14px;
	color:#fff;	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:14px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #155E12;	
}
.btn{
	color:#fff;
	background-color:#155E12;
	outline: none;
    border: 0;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius: 18px;
    box-shadow: -4px 4px rgba(0, 0, 0, 0.4);
	cursor:pointer;
	position:relative;
    transition: 0.5s;
}
.btn:active {
    background-color:#094207;
    transform: translateY(4px);
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
}